h1 {
  color: black;
  background-color: skyblue;
  border: solid black;
}

h3 {
  color: black;
  background-color: skyblue;
  border: solid black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  margin-top: 20px;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  border: solid black;
}

.btn-random {
  background: palegoldenrod;
  border: solid peru;
  color: palevioletred;
}

.btn-black {
  background-color: black;
  color: white;
  border: solid black;
}

.btn-select {
  color: black;
  background-color: skyblue;
  border: solid black;
}

.btn-reset {
  color: black;
  background-color: skyblue;
  border: solid black;
}
